<!DOCTYPE html>
<html lang="en">
{# Make modifiable head elements #}
<head>
    {% include "header.html" %}
</head>
<body>
    <div class="super_container">

    {# Navigation Menu #}
        {% include "navbar.html" %}

    {# The Document Body #}
        {# Login Body #}
            {% block login_content %}
            {% endblock login_content %}
        {# SignUp Body #}
            {% block signup_content %}
            {% endblock signup_content %}
            </div>
        {# Profile body#}
            {% block patientProfile %}
            {% endblock patientProfile %}

        {# Home Body #}
            {% block home_content %}
            {% endblock home_content %}

    {# The Footer #}
        {% include "footer.html" %}

</body>
</html>
