{% extends 'base.html' %}
{% load staticfiles %}
<!-- Info Boxes -->
{% block home_content %}
<div class="info">
    <div class="container">
        <div class="row row-eq-height">

            	<div class="info">
		<div class="container" >
			<div class = "row">
				<div class="col-sm-4" style="background-color: red">
					<h2>last report</h2>
						<div class="row">
							<div class="col-sm-6">
								<label>Created at</label>
							</div>
							<div class="col-sm-6">
								<label>Date</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<label>Next at</label>
							</div>
							<div class="col-sm-6">
								<label>Date</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<label>Description</label>

							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<label>Medicens</label>
							</div>
							<div class="col-sm-6">
								<label>Analytics</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<label>Rays</label>

							</div>

						</div>

				</div>

				<div class="col-sm-8" style="background-color: darkred" >
					<div class="row">
						<div class="col-sm-6">
							<div>
								<span class="glyphicon glyphicon-user"></span>
								<span>Name</span>
								<span>rate</span>
							</div>

						</div>
						<div class="col-sm-6">
							<div>
								<span>Icon</span>
								<span>Name</span>
								<span>rate</span>
							</div>

					</div>

					<div class="row">
						<div class="col-sm-6">
							<div>
								<span>Icon</span>
								<span>Name</span>
								<span>rate</span>
							</div>

						</div>
						<div class="col-sm-6">
							<div>
								<span>Icon</span>
								<span>Name</span>
								<span>rate</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

					<div class="col-sm-4"  style="background-color: yellow">
						<div class="">
							<p>Hospital</p>
						</div>
							<div>
								<span>Icon</span>
								<span>Name</span>
								<span>rate</span>
							</div>
					</div>

					<div class="col-sm-4"  style="background-color: green">
						<div class="">
							<p>Pharmacy</p>
						</div>
						<div>
								<span>Icon</span>
								<span>Name</span>
								<span>rate</span>
							</div>
					</div>

					<div class="col-sm-4" style="background-color: gray">
						<div class="">
							<p>Laps</p>
						</div>
						<div>
								<span>Icon</span>
								<span>Name</span>
								<span>rate</span>
							</div>
					</div>

				</div>
			</div>
		</div>
	</div>
        </div>
    </div>
</div>
{% endblock home_content %}