{% extends 'base.html' %}
{% load staticfiles %}
<!-- Info Boxes -->
{% block home_content %}
<div class="info">
    <div class="container">
        <div class="row row-eq-height">

            	<div class="info">
		<div class="container" >
			<div class = "row" style="margin: auto">
				<div class="col-sm-5 HomeContentStyle ">
					<h3>last report</h3>
						<div class="row">
							<div class="col-sm-6">
								<label>Created at</label>
							</div>
							<div class="col-sm-6">
								<label>Date</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<label>Next at</label>
							</div>
							<div class="col-sm-6">
								<label>Date</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<label>Description</label>

							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<label>Medicens</label>
							</div>
							<div class="col-sm-6">
								<label>Analytics</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<label>Rays</label>

							</div>

						</div>
				</div>

				<div class="col-sm-6" >
					<div class="row">
						<div class="col-sm-6">
							<div class="HomeContentStyle">
							<h3>Top Doctors</h3>
							<div>
								<span class="glyphicon glyphicon-user"></span>
								<span>Name</span>
								<span>rate</span>
							</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="HomeContentStyle">

							<h3>Top Hospital</h3>
							<div>
								<span class="glyphicon glyphicon-user"></span>
								<span>Name</span>
								<span>rate</span>
							</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6 ">
							<div class="HomeContentStyle">
							<h3>Top pharmacies</h3>
								<div>
								<span class="glyphicon glyphicon-user"></span>
								<span>Name</span>
								<span>rate</span>
							</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="HomeContentStyle">
							<h3>Top Laps</h3>
							<div>
								<span class="glyphicon glyphicon-user"></span>
								<span>Name</span>
								<span>rate</span>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
					<div class="col-sm-4">
						<div class="HomeContentStyle">
							<h3>Hospital</h3>
							<div>

								<span>Name</span>

							</div>
						</div>

					</div>

					<div class="col-sm-4">
						<div class="HomeContentStyle">
						<h3>pharmacy</h3>
						<div>

								<span>Name</span>

							</div>
						</div>
					</div>

					<div class="col-sm-4 ">
						<div class="HomeContentStyle">
						<h3>Laps</h3>
						<div>

								<span>Name</span>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
        </div>
    </div>
</div>
{% endblock home_content %}