{% extends 'base.html' %}
{% load staticfiles %}
{% block patientCard %}


    <div class="container" style="padding-top:200px">
      <h2 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Patient Card</h2>
      <div class="jumbotron" style="background-color:rgba(18,17,17,0.66)">
        <div class="col" style="border:solid 5px">
          pic

        </div>
        <div class="col" style="border:solid 5px">
          <div class="row">
            full name
          </div>
          <div class="row">

          </div>
          <div class="row">
            create
          </div>

        </div>

      </div>
    </div>

{% endblock %}
