{% extends 'base.html' %}
{% load staticfiles %}
{% block patientData %}
{% if data %}
    {% if age %}
    <div class="container" style="padding-top:200px">
        <h2 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Patient Data</h2>

        <div class="jumbotron" style="background-color:rgba(18,17,17,0.66); width: 80%; margin: auto">
            <div class="row" >
                <div class="col-md-3 " >
                    <div style=" margin: 2px; height: 170px; overflow: hidden ">
                        <img src="{{ data.Patient.Profile_picture }} " style="; min-width: 50%; max-width: 100%; height: 100%"  >
                    </div>
                </div>
                <div class="col-md-5" style="padding-left: 4%; text-align: center">
                    <div class="row">
                        <div style="width: 100%">
<!--50,198,154-->
                            <p style="color: white; margin-bottom: 0px">
                                {{ data.Patient.first_name }}
                                {{ data.Patient.middle_name }}
                                {{ data.Patient.last_name }}
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col" >
                            <div class="row">
                                <div style="width: 100%">
                                    <p style="color: white ; margin-bottom: 0px">
                                            {{ age }} years old
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div style="width: 100%">
                                    <p style="color: white; margin-bottom: 0px">
                                        {{ data.Patient.phone_number }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style=" width: 100%">
                            <p style="color: white ; margin-bottom: 0px">
                                {{ data.Patient.Create_date }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">


                                <div style="margin: 2px; width: 100%;text-align: right;">
                                    <img src="{{ data.QR_code }} " style="width: 160px; height: 160px"  >
                                    <!--{{ data.QR_code }}-->
                                </div>


                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>
        you don't have any age!!!!!!!!!
    </p>
    {% endif %}
{% else %}

<p>
    you don't have any data!!!!!!!!!
</p>

{% endif %}
{% endblock patientData %}
