{% extends 'base.html' %}
{% block patient_history_content %}

<div style="width:10px;height:175px"></div>
<div>


    <div class="container">
        <h1 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Patient History</h1>
        <div class="search_bar">
            <form action='' method="POST">
                {% csrf_token %}
                {{ form.search_content }}
                <button  type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
        <div class="history_details">
            <div class="history_date"><p>28-11-2018  23:18</p></div>
            <div class="row text-center">
                <a class="col-sm-3 elements" href="#">Prescription</a>
                <a class="col-sm-3 elements" href="#">Medicines</a>
                <a class="col-sm-3 elements" href="#">Analytics</a>
                <a class="col-sm-3 elements" href="#">Rays</a>
            </div>
        </div>
    </div>
</div>
{% endblock patient_history_content %}