{% extends 'base.html'%}
{% load staticfiles %}
{% block patientDoctor %}
<div class="info">
		<div class="container">
			<div class="jumbotron" style="background-color:rgba(18,17,17,0.66);color:#32c69a">
				<div class="row">
					<div class="col-sm-2" style="text-align:center">
						<img src="images/info_1.jpg" style="width:70px;height:70px;border-radius:100%">
					</div>
					<div class="col-sm-10" style="margin:auto">
						<ul class="nav nav-pills nav-fill">
							<li class="nav-item"><a class="nav-link active" href="">Dashboard</a></li>
							<li class="nav-item"><a class="nav-link" href="">Description</a></li>
							<li class="nav-item"><a class="nav-link" href="">Medicines</a></li>
							<li class="nav-item"><a class="nav-link" href="">Analytics</a></li>
							<li class="nav-item"><a class="nav-link" href="">Rays</a></li>
						</ul>
					</div>
				</div>
				<div class="row" style="border:solid 3px;margin-top:20px">
					<img src="images/info_1.jpg" style="width:200px;height:200px;margin:auto">
					<img src="images/info_1.jpg" style="width:200px;height:200px;margin:auto">
				</div>
				<div class="history_details">
					<div class="history_date"><p>28-11-1996 08:05 p.m.</p></div>
					<div class="row" style="margin-top:50px">
						<div class="col-sm-7">
							<ul class="nav nav-pills nav-fill">
								<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Description</a></li>
								<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Medicines</a></li>
								<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Analytics</a></li>
								<li class="nav-item" style="border:solid 3px;"><a class="nav-link" href="">Rays</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<input class="btn btn-primary" type="button" value="Submit">
							<input class="btn btn-primary" type="button" value="Cancel">
						</div>
					</div>
				</div>
				<div class="row" style="margin-top:50px">
					<div class="history_date"><p>28-11-1996 08:05 p.m.</p></div>
					<!--<div class="col-sm-2">-->
						<!--<div  style="border:solid 3px;text-align:center;margin-top:8px">-->
							<!--date-->
						<!--</div>-->
					<!--</div>-->
					<div class="col-sm-7">
						<ul class="nav nav-pills nav-fill">
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Description</a></li>
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Medicines</a></li>
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Analytics</a></li>
							<li class="nav-item" style="border:solid 3px;"><a class="nav-link" href="">Rays</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<input class="btn btn-primary" type="button" value="Submit">
						<input class="btn btn-primary" type="button" value="Cancel">
					</div>
				</div>
				<div class="row" style="margin-top:50px">
					<div class="history_date"><p>28-11-1996 08:05 p.m.</p></div>
					<!--<div class="col-sm-2">-->
						<!--<div  style="border:solid 3px;text-align:center;margin-top:8px">-->
							<!--date-->
						<!--</div>-->
					<!--</div>-->
					<div class="col-sm-7">
						<ul class="nav nav-pills nav-fill">
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Description</a></li>
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Medicines</a></li>
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Analytics</a></li>
							<li class="nav-item" style="border:solid 3px;"><a class="nav-link" href="">Rays</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<input class="btn btn-primary" type="button" value="Submit">
						<input class="btn btn-primary" type="button" value="Cancel">
					</div>
				</div>
				<div class="row" style="margin-top:50px">
					<div class="history_date"><p>28-11-1996 08:05 p.m.</p></div>
					<!--<div class="col-sm-2">-->
						<!--<div  style="border:solid 3px;text-align:center;margin-top:8px">-->
							<!--date-->
						<!--</div>-->
					<!--</div>-->
					<div class="col-sm-7">
						<ul class="nav nav-pills nav-fill">
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Description</a></li>
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Medicines</a></li>
							<li class="nav-item" style="border:solid 3px;margin-right:10px"><a class="nav-link" href="">Analytics</a></li>
							<li class="nav-item" style="border:solid 3px;"><a class="nav-link" href="">Rays</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<input class="btn btn-primary" type="button" value="Submit">
						<input class="btn btn-primary" type="button" value="Cancel">
					</div>
				</div>
			</div>
    	</div>
	</div>
{% endblock patientDoctor %}
