{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block signup_content %}

{% block javascript %}
<script>

$("#id_email").onkeyup(function () {
   var email = $(this).val();
   $.ajax({
       url: "/ajax/validate_email/",
       data: {
           'email' : email
       },
       dataType: 'json',
       success: function (data) {
           if (data.is_taken) {
               alert('This email is already used');
               console.log("found");
           } else {
			   console.log("not found");
		   }
       }
   });
});

</script>
{% endblock javascript %}
		<div class="home_container" style="top:30%">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
                            <div class="home_title">SignUp</div>
							<form method='POST' action=''>
                                <div class="home_text">
                                    {% csrf_token %}
                                    {% for field in form1 %}
										<div class="mydiv">
											<label class="mylabel">{{ field.label }}</label>
											{{ field }}
										</div>
									{% endfor %}
									{% for field in form2 %}
										<div class="mydiv">
											<label class="mylabel">{{ field.label }}</label>
											{{ field }}
										</div>
									{% endfor %}
                                    <button id="id_signup_submit" type="submit" class="button home_button">Submit</button>
                                </div>
                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock signup_content %}
