<!DOCTYPE html>
<html lang="en">
{# Make modifiable head elements #}
<head>
    {% include "header.html" %}
</head>
<body class="{% if request.get_full_path == '/patientHistory/' %} body_color
 {% else %}body
 {% endif %}">
<div>
    <div class="super_container">

    {# Navigation Menu #}
        {% include "navbar.html" %}

    {# The Document Body #}
        {# Login Body #}
            {% block login_content %}
            {% endblock login_content %}
        {# pharmacyIndex Body #}
            {% block pharmacyIndex %}
            {% endblock pharmacyIndex %}
        {# pharmacyLogin Body #}
            {% block pharmacyLogin %}
            {% endblock pharmacyLogin %}
        {# labLogin Body #}
            {% block labLogin %}
            {% endblock labLogin %}
        {# patientCard Body #}
            {% block patientCard %}
            {% endblock patientCard %}
        {# labIndex Body #}
            {% block labIndex %}
            {% endblock labIndex %}
        {# signup_content Body #}
            {% block signup_content %}
            {% endblock signup_content %}
        {# patientProfile body#}
            {% block patientProfile %}
            {% endblock patientProfile %}
        {# patientMedicineList body#}
            {% block patientMedicineList %}
            {% endblock patientMedicineList %}
        {# patientAnalyticsList body#}
            {% block patientAnalyticsList %}
            {% endblock patientAnalyticsList %}
        {# patientRaysList body#}
            {% block patientRaysList %}
            {% endblock patientRaysList %}
            </div>

        {# All Patient History #}
            {% block patient_history_content %}
            {% endblock patient_history_content %}
        {# Doctor Index body#}
            {% block patientIndex %}
            {% endblock patientIndex %}
        {# Home Body #}
            {% block home_content %}
            {% endblock home_content %}
        {# patientDoctor body#}
            {% block patientDoctor %}
            {% endblock patientDoctor %}

    {# The Footer #}
        {% include "footer.html" %}
    </div>
{% block javascript %}
{% endblock javascript %}
</body>
</html>
