<!DOCTYPE html>
<html lang="en">
{# Make modifiable head elements #}
<head>
    {% include "header.html" %}
</head>
<body class="{% if request.get_full_path == '/patientHistory/' %} body_color
 {% else %}body
 {% endif %}">
<div>
    <div class="super_container">

    {# Navigation Menu #}
        {% include "navbar.html" %}

    {# The Document Body #}
        {# Login Body #}
            {% block login_content %}
            {% endblock login_content %}
        {# Login Body #}
            {% block signup_content %}
            {% endblock signup_content %}
        {# Profile body#}
            {% block patientProfile %}
            {% endblock patientProfile %}
        {# patientMedicineList body#}
            {% block patientMedicineList %}
            {% endblock patientMedicineList %}
            </div>

        {# All Patient History #}
            {% block patient_history_content %}
            {% endblock patient_history_content %}

        {# Home Body #}
            {% block home_content %}
            {% endblock home_content %}
        {# patientDoctor body#}
            {% block patientDoctor %}
            {% endblock patientDoctor %}

    {# The Footer #}
        {% include "footer.html" %}
    </div>
{% block javascript %}
{% endblock javascript %}
</body>
</html>
