{% extends "base.html"%}
{% load staticfiles %}
{% block DoctorProfileView%}
{% if request.GET.notify == "not_found" %}
    <script>
    alert("Not Found")
    </script>
{% endif %}
{% if request.GET.notify == "DoesntExist" %}
    <script>
    alert("User Not Exist Or Not Allowed to access")
    </script>
{% endif %}
<div style="width:10px;height:175px"></div>
<div class="container">
    <h2 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Doctor Profile Information</h2>
    <div class="jumbotron" style="background-color:rgba(18,17,17,0.66);padding: 2rem 2rem">
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div style="width:200px;margin: auto">
                        <h3 style="color: #FFF;text-align: center;font-weight: bold;">Profile Picture</h3>
                        <img src="{{ doctor.Doc.Profile_picture }}" alt="profile picture" class="img-thumbnail"/>
                    </div>
                </div>
                <div style="margin-top:45px"></div>
                <div class="row">
                    <div style="width:200px;margin: auto">
                        <h3 style="color: #FFF;text-align: center;font-weight: bold;">SSN Picture</h3>
                        <img src="{{ doctor.Doc.SSN_Picture }}"  alt="SSN" class="img-thumbnail">
                    </div>
                </div>
                <div style="margin-top:45px"></div>
                <div class="row">
                    <div style="width:200px;margin: auto">
                        <h3 style="color: #FFF;text-align: center;font-weight: bold;">Rate</h3>
                        <h1 style="color: #32c69a;text-align: center;font-weight: bold;">{{ doctor.doc_rate }}</h1>
                    </div>
                </div>
                {% if 'doctor_id' in request.session %}
                    <div class="row">
                        <a href="{% url 'doctor:resetpassword' %}" style="margin: auto">
                            <button id="id_signup_submit" class="button home_button">Update Password</button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-9">
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Full Name">Full Name</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.first_name }}">{{ doctor.Doc.first_name }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.middle_name }}">{{ doctor.Doc.middle_name }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.last_name }}">{{ doctor.Doc.last_name }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Full Address">Full Address</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.country }}">{{ doctor.Doc.country }}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.state }}">{{ doctor.Doc.state }}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.city }}">{{ doctor.Doc.city }}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.street }}">{{ doctor.Doc.street }}</label>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Phone">Phone</label><br>
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Numbers">Numbers</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Private">Private</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.phone_number }}">{{ doctor.Doc.phone_number }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Home">Home</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.home_phone_number }}">{{ doctor.Doc.home_phone_number }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Work">Work</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.work_phone_number }}">{{ doctor.Doc.work_phone_number }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Gender">Gender</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.gender }}">{{ doctor.Doc.gender }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Birth Date">Birth Date</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.Date_of_birth }}">{{ doctor.Doc.Date_of_birth }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Marital Status">Marital Status</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.marital_status }}">{{ doctor.Doc.marital_status }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Children">Children</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">
                            {% if doctor.Doc.Child_num == 0 %}
                                None
                            {% else %}
                                {{ doctor.Doc.Child_num }}
                            {% endif %}
                        </label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="E-Mails">E-Mails</label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.email_1 }}">{{ doctor.Doc.email_1 }}</label>
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.email_2 }}">{{ doctor.Doc.email_2 }}</label>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Nationality">Nationality</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.Nationality }}">{{ doctor.Doc.Nationality }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Job Name">Job Name</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.Job_name }}">{{ doctor.Doc.Job_name }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Job Organization">Job Organization</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.Job_organization }}">{{ doctor.Doc.Job_organization }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Jop Place">Jop Place</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.Jop_place }}">{{ doctor.Doc.Jop_place }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="SSN">SSN</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Doc.Ssn }}">{{ doctor.Doc.Ssn }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Registration">Registration</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Registration_num }}">{{ doctor.Registration_num }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="aaaa">Specialization</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Specialization }}">{{ doctor.Specialization }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Registration">Registration</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Registration_date }}">{{ doctor.Registration_date }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Licence">Licence</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.licence }}">{{ doctor.licence }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Last Payment">Last Payment</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Last_date_payment }}">{{ doctor.Last_date_payment }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="End Date">End Date</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.End_date }}">{{ doctor.End_date }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Type">Type</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Specialization_type }}">{{ doctor.Specialization_type }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="University">University</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.University }}">{{ doctor.University }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Work Place">Work Place</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Work_place }}">{{ doctor.Work_place }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Sub Syndicate">Sub Syndicate</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Sub_syndicate }}">{{ doctor.Sub_syndicate }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="General Secretary">General Secretary</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.General_secretary }}">{{ doctor.General_secretary }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Working Till">Working Till</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Working_till }}">{{ doctor.Working_till }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="Graduation">Graduation</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis" data-toggle="tooltip" data-placement="top" title="{{ doctor.Graduation_year }}">{{ doctor.Graduation_year }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock DoctorProfileView %}
