{% extends "base.html"%}
{% load staticfiles %}
{% block DoctorProfileView%}


<div style="width:10px;height:175px"></div>
<div class="container">
    <h2 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Doctor Profile Information</h2>
    <div class="jumbotron" style="background-color:rgba(18,17,17,0.66);padding: 2rem 2rem">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div style="width:200px;margin: auto">
                        <h3 style="color: #FFF;text-align: center;font-weight: bold;">Profile Picture</h3>
                        <img src="{{ doctor.Doc.Profile_picture }}" alt="profile picture" class="img-thumbnail"/>
                    </div>
                </div>
                <div style="margin-top:45px"></div>
                <div class="row">
                    <div style="width:200px;margin: auto">
                        <h3 style="color: #FFF;text-align: center;font-weight: bold;">SSN Picture</h3>
                        <img src="{{ doctor.Doc.SSN_Picture }}"  alt="SSN" class="img-thumbnail">
                    </div>
                </div>
                <div style="margin-top:45px"></div>
                <div class="row">
                    <div style="width:200px;margin: auto">
                        <h3 style="color: #FFF;text-align: center;font-weight: bold;">Rate</h3>
                        <h1 style="color: #32c69a;text-align: center;font-weight: bold;">{{ doctor.doc_rate }}</h1>
                    </div>
                </div>
                {% if 'doctor_id' in request.session %}
                    <div class="row">
                        <a href="{% url 'doctor:resetpassword' %}" style="margin: auto">
                            <button id="id_signup_submit" class="button home_button">Update Password</button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-9">
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Full Name</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.first_name }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.middle_name }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.last_name }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Full Address</label>
                    </div>
                    <div class="col-sm-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.country }}</label>
                    </div>
                    <div class="col-sm-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.state }}</label>
                    </div>
                    <div class="col-sm-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.city }}</label>
                    </div>
                    <div class="col-sm-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.street }}</label>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Phone</label><br>
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Numbers</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Private</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.phone_number }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Home</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.home_phone_number }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Work</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.work_phone_number }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Gender</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.gender }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Birth Date</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.Date_of_birth }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Marital Status</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.marital_status }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Children</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">
                            {% if doctor.Doc.Child_num == 0 %}
                                None
                            {% else %}
                                {{ doctor.Doc.Child_num }}
                            {% endif %}
                        </label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">E-Mails</label>
                    </div>
                    <div class="col-sm-4">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.email_1 }}</label>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.email_2 }}</label>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Nationality</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.Nationality }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Job Name</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.Job_name }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Job Organization</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.Job_organization }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Jop Place</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.Jop_place }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">SSN</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Doc.Ssn }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Registration</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Registration_num }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Specialization</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Specialization }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Registration</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Registration_date }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Licence</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.licence }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Last Payment</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Last_date_payment }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">End Date</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.End_date }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Type</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Specialization_type }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">University</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.University }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Work Place</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Work_place }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Sub Syndicate</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Sub_syndicate }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">General Secretary</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.General_secretary }}</label>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Working Till</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Working_till }}</label>
                    </div>
                    <div class="col-sm-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;">Graduation</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;">{{ doctor.Graduation_year }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock DoctorProfileView %}
