{% load staticfiles %}
{#<div style="#}
{#{% if request.get_full_path == '/patient/patientProfile/' %}#}
{#    width:10px;#}
{#    height:175px;#}
{#{% else %}#}
{#    {% if request.get_full_path == '/patient/patientProfile/?c=1' %}#}
{#        width:10px;#}
{#        height:175px;#}
{#    {% endif %}#}
{#{% endif %}#}
{#"></div>#}
<footer class="footer">
<!--    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/footer.jpg' %}" data-speed="0.8"></div>-->
{#    <div class="footer_content">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <!-- Footer About -->#}
{#                <div class="col-lg-3 footer_col">#}
{#                    <div class="footer_about">#}
{#                        <div class="logo">#}
{#                            <a href="#">health<span>+</span></a>#}
{#                        </div>#}
{#                        <div class="footer_about_text">Lorem ipsum dolor sit amet, lorem maximus consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</div>#}
{#                        <div class="footer_social">#}
{#                            <ul class="d-flex flex-row align-items-center justify-content-start">#}
{#                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="copyright">#}
{#                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>#}
{#                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Footer Contact -->#}
{#                <div class="col-lg-5 footer_col">#}
{#                    <div class="footer_contact">#}
{#                        <div class="footer_contact_title">Quick Contact</div>#}
{#                        <div class="footer_contact_form_container">#}
{#                            <form action="#" class="footer_contact_form" id="footer_contact_form">#}
{#                                <div class="d-flex flex-xl-row flex-column align-items-center justify-content-between">#}
{#                                    <input type="text" class="footer_contact_input" placeholder="Name" required="required">#}
{#                                    <input type="email" class="footer_contact_input" placeholder="E-mail" required="required">#}
{#                                </div>#}
{#                                <textarea class="footer_contact_input footer_contact_textarea" placeholder="Message" required="required"></textarea>#}
{#                                <button class="footer_contact_button">send message</button>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Footer Hours -->#}
{#                <div class="col-lg-4 footer_col">#}
{#                    <div class="footer_hours">#}
{#                        <div class="footer_hours_title">Opening Hours</div>#}
{#                        <ul class="hours_list">#}
{#                            <li class="d-flex flex-row align-items-center justify-content-start">#}
{#                                <div>Monday – Thursday</div>#}
{#                                <div class="ml-auto">8.00 – 19.00</div>#}
{#                            </li>#}
{#                            <li class="d-flex flex-row align-items-center justify-content-start">#}
{#                                <div>Friday</div>#}
{#                                <div class="ml-auto">8.00 - 18.30</div>#}
{#                            </li>#}
{#                            <li class="d-flex flex-row align-items-center justify-content-start">#}
{#                                <div>Saturday</div>#}
{#                                <div class="ml-auto">9.30 – 17.00</div>#}
{#                            </li>#}
{#                            <li class="d-flex flex-row align-items-center justify-content-start">#}
{#                                <div>Sunday</div>#}
{#                                <div class="ml-auto">9.30 – 15.00</div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
                        <nav class="footer_nav">
                            <ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="footer_links">
                            <ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                <li><a href="#">Help Desk</a></li>
                                <li><a href="#">Emergency Services</a></li>
                                <li><a href="#">Appointment</a></li>
                            </ul>
                        </div>
                        <div class="footer_phone ml-lg-auto">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>+34 586 778 8892</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script  type="text/JavaScript" src="{% static 'js/jquery-3.3.3.min.js' %}"></script>
<script type="text/JavaScript" src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script  type="text/JavaScript" src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script  type="text/JavaScript" src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script  type="text/JavaScript" src="{% static 'plugins/easing/easing.js' %}"></script>
<script type="text/JavaScript"  src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script type="text/JavaScript"  src="{% static 'styles/bootstrap-3.3.7/dist/js/bootstrap.js' %}"></script>
<script type="text/JavaScript"  src="{% static 'js/patientSignup.js' %}"></script>
<script type="text/JavaScript"  src="{% static 'js/patientHistory.js' %}"></script>
<script type="text/JavaScript"  src="{% static 'js/search.js' %}"></script>

