{% extends "base.html"%}
{% load staticfiles %}
{% block forgetPassword %}

<div style="width:10px;height:175px"></div>
<div class="container">
    <h2 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Reset Account Password</h2>
    <div class="jumbotron" style="background-color:rgba(18,17,17,0.66)">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div style="width:200px;margin: auto">
                            {% if user %}
                                <img src="{{ user.Profile_picture }}" alt="profile picture" class="img-thumbnail"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row" style="text-align: center;;margin-top: 10px">
                        <div class="col-sm">
                            <label style="color: #FFF;">{{ user.first_name|upper }} {{ user.middle_name|upper }} {{ user.last_name|upper }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-row" style="margin-bottom:20px">
                        <div class="col-sm">
                            <input type="hidden" name="userid" value="{{ user.user_id }}">
                            <input type="password" name="old_pass" class="form-control" placeholder="Old Password" required="">
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom:20px">
                        <div class="col-sm">
                            <input type="password" id="pass" name="new_pass" class="form-control" placeholder="New Password" required="">
                            <b id="warn1" class="hide">
                                <i class="fa fa-warning" aria-hidden="true"></i>
                                Not Matched
                            </b>
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom:20px">
                        <div class="col-sm">
                            <input type="password" id="re_pass" name="confirm_pass" class="form-control" placeholder="Confirm Password" required="">
                            <b id="warn2" class="hide">
                                <i class="fa fa-warning" aria-hidden="true"></i>
                                Not Matched
                            </b>
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom:20px">
                        <div class="col-sm" style="text-align: center">
                            <button id="id_signup_submit" type="submit" style="border-radius: 50px;width:30%;margin:auto" class="button home_button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock forgetPassword %}
