{% extends 'base.html' %}
{% block labIndex %}

<div class="home_container" style="top:30%">
    <div class="container">
				<div class="row">
					<div class="col-sm">
						<div class="home_content">
                            <div class="home_title">Patient Login</div>
							<form method="POST" action="">
                                {% csrf_token %}
                                <div class="home_text">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="pat_id" aria-describedby="emailHelp" placeholder="Enter Patient ID" required="required">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="type" required>
                                            <option value="" selected disabled>Choose type...</option>
                                            <option value="1">Analytics</option>
                                            <option value="2">Rays</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="button home_button">Search</button>
                                    </div>
                                </div>
                            </form>
						</div>
					</div>
				</div>
                <div class="home_text">
                    <div class="row">
                        <div class="col-sm-3" style="margin-top: 45px">
                            <span>Login Fast</span>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="button home_button">Scan Id</button>
                        </div>
                    </div>
                </div>
			</div>
</div>

{% endblock labIndex %}
