{% extends 'base.html' %}
{% block patient_history_content %}

<div style="width:10px;height:175px"></div>
<!--<div style="background-color: #25755d">-->


    <div class="container">
        <h1 style="text-align:center;color:#32c69a;margin:20px 0px 30px 0px">Patient History</h1>
        <div class="search_bar">
            <form action='' method="POST">
                {% csrf_token %}
                {{ form.search_content }}
                <button  type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
        <!--<div class="history_details">-->
        <!--<div class="history_date"><p>{{ Submit_date|date:'m-d-Y h:i a' }}</p></div>-->
        <!--<h3>{{ pk_list }}</h3>-->
        <!--<h3>{{ doctor_id }}</h3>-->
        <!--<h3>{{ patient_id }}</h3>-->
        <!--<h3>{{ prescription_id }}</h3>-->
        <!--<h3>{{ Submit_date|date:"SHORT_DATETIME_FORMAT"  }}</h3>-->
        <!--<h3>{{ Submit_date|date:"D d M Y"  }}</h3>-->
        <!--<h3>{{ Submit_date|time:"P" }}</h3>-->
        <!--<h3>{{ Submit_date|date:'m-d-Y h:i a' }}</h3>-->
        <!--<div class="row text-center">-->
        <!--<a class="col-sm-3 elements" href="#">Prescription</a>-->
        <!--<a class="col-sm-3 elements" href="#">Medicines</a>-->
        <!--<a class="col-sm-3 elements" href="#">Analytics</a>-->
        <!--<a class="col-sm-3 elements" href="#">Rays</a>-->
        <!--</div>-->
        <!--</div>-->
        {% for pk, doctor_id, patient_id, prescription_id, Submit_date, clinic_id, hospital_id, doctor_name, prescription_detail, clinic_name, hospital_name, p_a_id, p_c_id, p_m_id, p_r_id, analytics_name, chronic_name, medicine_name, ray_name in mix_1 %}
        <div class="history_details" style="border:solid 30px #32c69a">
            <div class="history_date"><p>{{ Submit_date|date:'m-d-Y h:i a' }}</p></div>
            <div class="row text-center report_header">
                <a class="col-sm-3 elements">Prescription</a>
                <a class="col-sm-3 elements">Medicines</a>
                <a class="col-sm-3 elements">Analytics</a>
                <a class="col-sm-3 elements">Rays</a>

                <div id="prescription" class="container-fluid text-center medicine_body" style="overflow-x: auto">
                    <div class="row medicine_elem well">
                        <h3>{{prescription_detail}}</h3>
                    </div>
                </div>
                <div id="medicine" class="container-fluid text-center medicine_body" style="overflow-x: auto">
                    <div class="row medicine_head">
                        <div class="col-4">
                            Name
                        </div>
                        <div class="col-4">
                            Pills
                        </div>
                        <div class="col-4">
                            Potions
                        </div>
                    </div>
                    {% load index %}
                {% with test_med=medicine_name|reverse %}
                    {% for i in p_m_id %}
                    <div class="row medicine_elem">
                        <div class="col-4">
                    {{ test_med|index:forloop.counter0}}
                        </div>
                        <div class="col-4">
                    {{i.number_of_pills}}
                        </div>
                        <div class="col-4">
                    {{i.number_of_potions}}
                        </div>
                    </div>
                    {%endfor%}
                {% endwith %}
                </div>
                <div id="analytics" class="container-fluid text-center medicine_body" style="overflow-x: auto">
                    <div class="row medicine_head">
                        <div class="col-6">
                            Name
                        </div>
                        <div class="col-6">
                            Result
                        </div>
                    </div>
                {% with test_analytic=analytics_name|reverse %}
                    {% for i in p_a_id %}
                    <div class="row medicine_elem">
                        <div class="col-6">
                    {{analytics_name|index:forloop.counter0}}
                        </div>
                        <div class="col-6">
                            <a href="{{i.analytics_result}}" style="color: #FFF;">result{{ forloop.counter }}</a>
                        </div>
                    </div>
                    {%endfor%}
                {% endwith %}
                </div>
                <div id="rays" class="container-fluid text-center medicine_body" style="overflow-x: auto">
                    <div class="row medicine_head">
                        <div class="col-6">
                            Name
                        </div>
                        <div class="col-6">
                            Result
                        </div>
                    </div>
                {% with test_ray=ray_name|reverse %}
                    {% for i in p_r_id %}
                    <div class="row medicine_elem">
                        <div class="col-6">
                    {{test_ray|index:forloop.counter0}}
                {#  {{test_ray}}#}
                        </div>
                        <div class="col-6">
                            <a href="{{ i.rays_result }}" style="color: #FFF;">result{{ forloop.counter }}</a>
                    {% comment %} {{i.rays_result }} {% endcomment %}
                        </div>
                    </div>
                    {%endfor%}
                {% endwith %}
                </div>
            </div>
            <div class="by">
                <h4 class="" style="color: #32c69a"><b style="color: #32c69a">By:</b></h4>
                <p style="color: #32c69a"><b style="color: #32c69a">Doctor: </b> {{doctor_name}}</p>
                {% if clinic_name == False %}
                    <p style="color: #32c69a"><b style="color: #32c69a">Hospital: </b> {{hospital_name}}</p>
                {% elif hospital_name == False %}
                    <p style="color: #32c69a"><b style="color: #32c69a">Clinic: </b> {{clinic_name}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock patient_history_content %}