{% extends 'base.html' %}
{% load staticfiles %}

{% block patientIndex %}

<div class="container">
    <div class="jumbotron" style="background-color:rgba(18,17,17,0.66);margin-top:30px;color: #FFF">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <p class="para">Last Report</p>
                    {% if patientReport %}
                        {# creation date #}
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="bord">Created at:</label>
                            </div>
                            {% if patientReport.Submit_date %}
                                <div class="col-sm-6">
                                    <label class="bord">{{ patientReport.Submit_date }}</label>
                                </div>
                            {% else %}
                                <div class="col-sm-6">
                                    <label class="bord">No Created Data Yet</label>
                                </div>
                            {% endif %}
                        </div>
                        {# upcoming appointments #}
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="bord">Next at:</label>
                            </div>
                            {% if patientReport.prescription.next_appointment %}
                                <div class="col-sm-6">
                                    <label class="bord">{{ patientReport.prescription.next_appointment }}</label>
                                </div>
                            {% else %}
                                <div class="col-sm-6">
                                    <label class="bord">No Coming Appointment</label>
                                </div>
                            {% endif %}
                        </div>
                        {# description #}
                        <div class="row">
                            <div class="col-sm">
                                <div class="bord txer" disabled style="overflow: auto">
                                    <P style="font-size: 20px;color: #32c69a;font-weight: bold;">Description</P>
                                    {{ patientReport.prescription.Disease_disc }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {# creation date #}
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="bord">Created at:</label>
                            </div>
                            <div class="col-sm-6">
                                <label class="bord">No Created Data Yet</label>
                            </div>
                        </div>
                        {# upcoming appointments #}
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="bord">Next at:</label>
                            </div>
                            <div class="col-sm-6">
                                <label class="bord">No Coming Appointment</label>
                            </div>
                        </div>
                        {# description #}
                        <div class="row">
                            <div class="col-sm">
                                <div class="bord txer" disabled style="overflow: auto">
                                    <P style="font-size: 20px;color: #32c69a;font-weight: bold;">Description</P>
                                    You Have No Description Yet
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {# medicines and analytics #}
                    <div class="row">
                        <div class="col-sm-6">
                            {% if lastMedicineInReport %}
                                <div class="bord txer" disabled style="overflow: auto">
                                    <P style="font-size: 20px;color: #32c69a;font-weight: bold;">Medicines</P>
                                    {% for lmr in lastMedicineInReport %}
                                        {{ lmr.P_M.med.medicine_name }}<br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                 <div class="bord txer" disabled >
                                    <P style="font-size: 20px;color: #32c69a;font-weight: bold;">Medicines </P>
                                    You Have No Medicines Yet
                                 </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            {% if lastAnalyticsInReport  %}
                                <div class="bord txer" disabled style="overflow: auto">
                                    <P style="font-size: 20px;color: #32c69a;font-weight: bold;">Analytics </P>
                                    {% for lar in lastAnalyticsInReport %}
                                        <a class="tops" href="{{ lar.P_A.analytics_result }}">{{ lar.P_A.analy.analytics_name }}</a><br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="bord txer" disabled>
                                    <P style="font-size: 20px;color: #32c69a;font-weight: bold;">Analytics </P>
                                    You Have No Analytics Yet
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {# rays #}
                    <div class="row">
                        <div class="col-sm">
                            {% if lastRaysInReport %}
                                <div class="bord txer" disabled style="overflow: auto">
                                    <P style="font-size: 20px;color: #32c69a;font-weight: bold;">Rays</P>
                                    {% for lrr in lastRaysInReport %}
                                        <a class="tops" href="{{ lrr.P_R.rays_result }}">{{ lrr.P_R.ray.ray_name }}</a><br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="bord txer" disabled >
                                    <P style="font-size: 20px;color: #32c69a;font-weight: bold;">Rays</P>
                                    You Have No Rays Yet
                                </div>
                           {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                   <div class="col-sm-6">
                       <p class="para">Top Doctors</p>
                       <div class="topdiv" style="overflow: auto;">
                           {% if topDoctor %}
                               {% for doctor in topDoctor %}
                                   <a class="tops" href="{% url 'doctor:doctorProfileView' pk=doctor.id %}">
                                       <div class="row" style="text-align: center;width: 100%;margin-bottom: 3px;">
                                        {#profile Picture area#}
                                            <div class="col-sm-4">
                                                <img class="ima" src="{{ doctor.Doc.Profile_picture }}">
                                            </div>
                                        {# doctor name area#}
                                            <div class="col-sm-6 topName">
                                                <label>{{ doctor.Doc.first_name }}</label>
                                                <label>{{ doctor.Doc.last_name }}</label>
                                            </div>
                                        {# doctor rate area #}
                                            <div class="col-sm-2" style="margin: auto 0px auto 0px;">
                                                {% if doctor.doc_rate == null %}
                                                    <i class="fa fa-star fa-lg">0</i>
                                                {% else %}
                                                    <i class="fa fa-star fa-lg">{{ doctor.doc_rate }}</i>
                                                {% endif %}
                                            </div>
                                        </div>
                                   </a>
                               {% endfor %}
                           {% else %}
                                <div class="row" style="text-align: center;width: 100%">
                                    <div class="col">
                                        <label>there's no top Doctors at this time. please try again Later</label>
                                    </div>
                                </div>
                           {% endif %}
                       </div>
                   </div>
                    <div class="col-sm-6">
                        <p class="para">Top hospitals</p>
                        <div class="topdiv" style="overflow: auto;">
                            {% if topHospital %}
                                {% for hospital in topHospital %}
                                    <a class="tops" href="{% url 'hospital:hospital_profile_view' hosid=hospital.h_id%}">
                                        <div class="row" style="text-align: center;width: 100%;margin-bottom: 3px;">
                                        {# hospital image #}
                                            <div class="col-sm-4">
                                                <img class="ima" src="{{ hospital.logo }}">
                                            </div>
                                        {# hospital name #}
                                            <div class="col-sm-6 topName">
                                                <label>{{ hospital.h_name }}</label>
                                            </div>
                                        {# hospital rate #}
                                            <div class="col-sm-2" style="margin: auto 0px auto 0px;">
                                                {% if hospital.hos_rate == null %}
                                                    <i class="fa fa-star fa-lg">0</i>
                                                {% else %}
                                                    <i class="fa fa-star fa-lg">{{ hospital.hos_rate }}</i>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <div class="row" style="text-align: center;width: 100%">
                                    <div class="col">
                                        <label>there's no top hospitals at this time. please try again Later</label>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="para">Top Pharmacies</p>
                        <div class="topdiv" style="overflow: auto;">
                            {% if topPharmacy %}
                                {% for pharmacy in topPharmacy %}
                                    <a class="tops" href="{% url 'pharmacy:pharmacy_profile_view' pharid=pharmacy.org_id%}">
                                        <div class="row" style="text-align: center;width: 100%;margin-bottom: 3px;">
                                        {# pharmacy image #}
                                            <div class="col-sm-4">
                                                <img class="ima" src="{{ pharmacy.org_logo }}">
                                            </div>
                                        {# pharmacy name #}
                                            <div class="col-sm-6 topName">
                                                <label>{{ pharmacy.org_name }}</label>
                                            </div>
                                        {# pharmacy rate #}
                                            <div class="col-sm-2" style="margin: auto 0px auto 0px;">
                                                {% if pharmacy.org_rate == null %}
                                                    <i class="fa fa-star fa-lg">0</i>
                                                {% else %}
                                                    <i class="fa fa-star fa-lg">{{ pharmacy.org_rate }}</i>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <div class="row" style="text-align: center;width: 100%">
                                    <div class="col">
                                        <label>there's no top pharmacies at this time. please try again Later</label>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p class="para">top Labs</p>
                        <div class="topdiv" style="overflow: auto;">
                            {% if topLab %}
                                {% for lab in topLab %}
                                    <a class="tops" href="{% url 'lab:lab_profile_view' labid=lab.org_id%}">
                                        <div class="row" style="text-align: center;width: 100%;margin-bottom: 3px;">
                                        {# lab logo #}
                                            <div class="col-sm-4">
                                                <img class="ima" src="{{ lab.org_logo }}">
                                            </div>
                                        {# lab name #}
                                            <div class="col-sm-6 topName">
                                                <label>{{ lab.org_name }}</label>
                                            </div>
                                        {# lab rate #}
                                            <div class="col-sm-2" style="margin: auto 0px auto 0px;">
                                                {% if lab.org_rate == null %}
                                                    <i class="fa fa-star fa-lg">0</i>
                                                {% else %}
                                                    <i class="fa fa-star fa-lg">{{ lab.org_rate }}</i>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <div class="row" style="text-align: center;width: 100%">
                                    <div class="col">
                                        <label>there's no top Labs at this time. please try again Later</label>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div>
                    <p class="para">Partners</p>
                    <div class="row">
                        <div class="col-sm">
                            {% if hospitals %}
                                <div class="bord txer" disabled style="overflow: auto">
                                    <p style="font-size: 20px;color: #32c69a;font-weight: bold;">Hospitals</p>
                                    {% for hospital in hospitals %}
                                        <a class="tops" href="{% url 'hospital:hospital_profile_view' hosid=hospital.h_id%}">
                                            {{ hospital.h_name }}
                                        </a><br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="bord txer" disabled>
                                    <p style="font-size: 20px;color: #32c69a;font-weight: bold;">Hospitals</p>
                                    We Don't Have Hospitals yet
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm">
                            {% if clinics %}
                                <div class="bord txer" disabled style="overflow: auto">
                                    <p style="font-size: 20px;color: #32c69a;font-weight: bold;">Clinics</p>
                                    {% for clinic in clinics %}
                                        <a class="tops" href="#">
                                            {{ clinics.org_name }}
                                        </a><br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="bord txer" disabled>
                                    <p style="font-size: 20px;color: #32c69a;font-weight: bold;">Clinics</p>
                                    We Don't Have Clinics yet
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm">
                            {% if pharmacies %}
                                <div class="bord txer" disabled style="overflow: auto">
                                    <p style="font-size: 20px;color: #32c69a;font-weight: bold;">Pharmacies</p>
                                    {% for pharmacy in pharmacies %}
                                        <a class="tops" href="{% url 'pharmacy:pharmacy_profile_view' pharid=pharmacy.org_id%}">
                                            {{ pharmacy.org_name }}
                                        </a><br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="bord txer" disabled>
                                    <p style="font-size: 20px;color: #32c69a;font-weight: bold;">Pharmacies</p>
                                    We Don't Have Pharmacies yet
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm">
                            {% if labs %}
                                <div class="bord txer" disabled style="overflow: auto">
                                    <p style="font-size: 20px;color: #32c69a;font-weight: bold;">Labs</p>
                                    {% for lab in labs %}
                                        <a class="tops" href="{% url 'lab:lab_profile_view' labid=lab.org_id%}">
                                            {{ lab.org_name }}
                                        </a><br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="bord txer" disabled>
                                    <p style="font-size: 20px;color: #32c69a;font-weight: bold;">Labs</p>
                                    We Don't Have Labs yet
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock patientIndex %}
