{% extends "base.html"%}
{% load staticfiles %}
{% block patientProfileView%}



<div style="width:10px;height:175px"></div>
<div class="container">
    <h2 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Patient Profile Information</h2>
    <div class="jumbotron" style="background-color:rgba(18,17,17,0.66);padding: 2rem 2rem">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div style="width:200px;margin: auto">
                        <h3 style="color: #FFF;text-align: center;font-weight: bold;">Profile Picture</h3>
                        <img src="{{ patient.Patient.Profile_picture }}" alt="profile picture" class="img-thumbnail"/>
                    </div>
                </div>
                <div style="margin-top:45px"></div>
                <div class="row">
                    <div style="width:200px;margin: auto">
                        <h3 style="color: #FFF;text-align: center;font-weight: bold;">SSN Picture</h3>
                        <img src="{{ patient.Patient.SSN_Picture }}"  alt="SSN" class="img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Full Name</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.first_name }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.middle_name }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.last_name }}</label>
                    </div>
                </div><hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Full Address</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.country }}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.state }}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.city }}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.street }}</label>
                    </div>
                    <div class="col-md-1"></div>
                </div><hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Private</label>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.phone_number }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Home</label>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.home_phone_number }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Work</label>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.work_phone_number }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Emergency</label>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Emergency_contact }}</label>
                    </div>
                </div><hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Gender</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.gender }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Birth Date</label>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.Date_of_birth }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Marital Status</label>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.marital_status }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Children</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">
                            {% if patient.Patient.Child_num == 0 %}
                                None
                            {% else %}
                                {{ patient.Patient.Child_num }}
                            {% endif %}
                        </label>
                    </div>
                </div><hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-2">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">E-Mails</label>
                    </div>
                    <div class="col-md-5">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.email_1 }}</label>
                    </div>
                    <div class="col-md-5" style="text-align: center;">
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.email_2 }}</label>
                    </div>
                    <div class="col-md-1"></div>
                </div><hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Nationality</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.Nationality }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Job Name</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.Job_name }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Job Organization</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.Job_organization }}</label>
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Jop Place</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.Jop_place }}</label>
                    </div>
                </div><hr>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-4">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">SSN</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Patient.Ssn }}</label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Height</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Height }} cm</label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Weight</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.weight }} kg</label>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-md-4">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Blood</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Blood_type }}</label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Disabled</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Disability_status }}</label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: 20px;color: #FFF;font-weight: bold;" class="ellipsis">Chronic</label><br>
                        <label style="font-size: 20px;color: #32c69a;font-weight: bold;" class="ellipsis">{{ patient.Chronic_diseases }}</label>
                    </div>
                </div>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-sm" style="text-align: center">
                        <a href="{% url 'patient:patientCard' userid=patient.Patient.user_id%}">
                            <button type="submit" style="border-radius: 50px;width:45%;margin:5px" class="button home_button">Card</button>
                        </a>
                    </div>
                    {% if 'patient_id' in request.session %}
                        <div class="col-sm" style="text-align: center">
                            <a href="{% url 'patient:patient_profile_update' %}">
                                <button type="submit" style="border-radius: 50px;width:45%;margin:auto" class="button home_button">Update</button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock patientProfileView%}
