{% extends 'base.html' %}
{% block patientMedicineList %}

<div style="width:10px;height:175px"></div>
<div class="container">
    <h2 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Discharge Medicines</h2>
    <div class="jumbotron" style="background-color:rgba(18,17,17,0.66); font-size: 22px;padding: 2rem 2rem;overflow: auto;height: 650px;">
        {% if DataNotSubmitted %}
            {% for data in DataNotSubmitted %}
                <div class="row" style="border:solid 5px #32c69a;border-radius: 10px;margin-bottom: 5px">
                <div class="col-sm-10">
                    <div class="row" style="margin: 10px 0px;">
                        <div class="col-sm-6">
                            Medicine Name:
                        </div>
                        <div class="col-sm-6">
                            {{ data.med.medicine_name }}
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0px;">
                        <div class="col-sm-6">
                            Number Of Potions:
                        </div>
                        <div class="col-sm-6">
                            {{ data.number_of_potions }} potion per day
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0px;">
                        <div class="col-sm-6">
                            Number Of Pills:
                        </div>
                        <div class="col-sm-6">
                            {{ data.number_of_pills }} pill per day
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="margin: auto">
                    <BUTTON class="btn btn-success" style="">Submit</BUTTON>
                </div>
            </div>
            {% endfor %}
        {% else %}
            mew mew mew mew mew
        {% endif %}

    </div>

</div>


{% endblock patientMedicineList %}
{#<h1>Medicine List</h1>#}
{#  {% if medicineList %}#}
{#  <ul>#}
{#    {% for medicine in medicineList %}#}
{#        {{ medicine.number_of_pills }}#}
{#        <li>#}
{##}
{#          {{ medicine.med.medicine_name }}#}
{#          {{ medicine.number_of_pills }}#}
{#          {{ medicine.number_of_potions }}#}
{#        <button type="submit" value="{{  medicine.pharmacy = '1' }}>Submit</button>#}
{#      </li>#}
{#    {% endfor %}#}
{##}
{#  </ul>#}
{##}
{#{% else %}#}
{#    <p>There are no books in the library.</p>#}
{#  {% endif %}#}