{% include "base.html" %}
{% block javascript %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script>
{% endblock javascript %}


{% block jquery %}
    var endpoint = '{%url "doctor:api-data"%}'
    var defulatdata1 = []
    var labels1 = []
    var defulatdata2 = []
    var labels2 = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            labels1 = data.data1.label
            defulatdata1 = data.data1.default
            labels2 = data.data2.label
            defulatdata2 = data.data2.default
            BarChart1()
            PieChart2()
            console.log(1000)
        },

        error: function (error_data) {
            console.log("error");
            console.log(error_data);

        }
    })

    function BarChart1() {
        var ctx = document.getElementById('1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels1,
                datasets: [{
                    label: '# of Patients',
                    data: defulatdata1,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }
    function PieChart2() {
        var ctx = document.getElementById('2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels2,
                datasets: [{
                    label: '# of Votes',
                    data: defulatdata2,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }
{% endblock %}
</script>
{% block home_content %}

    <div style="width:10px;height:175px"></div>
    <div class="container">
        <div class="jumbotron" style="background-color:rgba(18,17,17,0.66)">
{#            <div class='row'>#}
{#                <div class='col-sm-6' style="border: solid 5px #32c69a;height: 300px;">#}
{#                    <h1 style="font-size: 20px;color: #FFF;font-weight: bold;">Good Comments</h1>#}
{#                    {% for g in data.Comments %}#}
{#                        {% if g.Rate <= 8 %}#}
{#                            <p>{{ g.comment }}</p>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class='col-sm-6' style="border: solid 5px #32c69a;height: 300px;">#}
{#                    <h1 style="font-size: 20px;color: #FFF;font-weight: bold;">Bad Comments</h1>#}
{#                    {% for b in data.Comments %}#}
{#                        {% if b.Rate >= 8 %}#}
{#                            <p>{{ b.comment }}</p>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
            <div class='row'>
                <div class='col-sm-6'>
                    <h1 style="font-size: 20px;color: #FFF;font-weight: bold;"># Of Patients per Day</h1>
                    <canvas id="1"  width="400" height="400"></canvas>
                </div>
                <div class='col-sm-6'>
                    <h1 style="font-size: 20px;color: #FFF;font-weight: bold;">% Of Good and Bad Comments</h1>
                    <canvas id="2" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock home_content %}
