{% extends "base.html" %}
{% block home_content %}

    <div style="width:10px;height:175px"></div>
    <div class="container">
        <h2 style="text-align:center;color:#FFF;margin:20px 0px 30px 0px">Comments and News</h2>
        <div class="jumbotron" style="background-color:rgba(18,17,17,0.66)">
            <div class='row'>
                <div class='col-sm-5' style="border: solid 3px #32c69a;height: 300px;overflow: auto">
                    <h1 style="text-align: center;font-size: 22px;color: #32c69a;font-weight: bold;">Good Comments</h1>
                    {% for com in Good %}
                        <p style="font-size: 18px;color: #FFF;font-weight: bold;">{{ com.comment }}</p>
                        <hr style="height: 3px;background-color: #32c69a">
                    {% endfor %}
                </div>
                <div class="col-sm-2"></div>
                <div class='col-sm-5' style="border: solid 3px #32c69a;height: 300px;overflow: auto">
                    <h1 style="text-align: center;font-size: 22px;color: #32c69a;font-weight: bold;">Bad Comments</h1>
                    {% for com in Bad %}
                        <p style="font-size: 18px;color: #FFF;font-weight: bold;">{{ com.comment }}</p>
                        <hr style="height: 3px;background-color: #32c69a">
                    {% endfor %}
                </div>
            </div>
            <div class='row'>
                <div class='col-sm' style="height: 300px;overflow: auto">
                    <h1 style="text-align: center;font-size: 22px;color: #32c69a;font-weight: bold;">News</h1>
                    {% for news in News %}
                        {% for l in news.links %}
                            <div class="row">
                                <a href="{{ l.href }}" style="color: white">
                                    <div class="col-sm">
                                        <h3>{{ news.title }}</h3>
                                        <hr style="height: 3px;background-color: #32c69a">
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock home_content %}
