{% extends 'Doctor_app/Doctor_base.html' %}
{% block home_content %}

<div class="info">
    <div class="container">
        <div class="row row-eq-height">
          <ol>
            {% for m in medecines %}
            <h2><li>Medicins : <a href="{% url 'doctor:meddital' pk=m.P_M_id%}">{{m.P_M.med.medicine_name}}</a></li></h2>
            <p {% if forloop.last %}><a  class="btn btn-primary"href="{% url 'doctor:newmed' pk=m.report.report%}">CreateMediciene{% endif %}</a></p>
            {%endfor%}
          </ol>
        </div>
    </div>
</div>

{% endblock home_content %}
