{% extends 'Doctor_app/Doctor_base.html' %}
{% block home_content %}

<div class="info">
    <div class="container">
        <div class="row row-eq-height">
          <ol>
            <ol>
              <h2><li>{{analytics_p_detial.analy.analytics_name}}</li></h2>
              {%if analytics_p_detial.analytics_result %}
              <h2><li>{{analytics_p_detial.analytics_result}}</li></h2>
              {%else%}
              <h2><li>No Result Add Yet</li></h2>
              {%endif%}

              <p><a class="btn btn-warning" href="{% url 'doctor:analyticssupdate' pk=analytics_p_detial.P_A_id%}">Update</a></p>
            </ol>
          </ol>

        </div>
    </div>
</div>

{% endblock home_content %}
