{% extends 'Doctor_app/Doctor_base.html' %}

{% block home_content %}
{% if request.GET.notify == "patient_not_found" %}
<script>
alert("This's not a patient")
</script>
{% elif request.GET.notify == "user_not_found" %}
<script>
alert("This's not a user")
</script>
{% endif %}
<div class="home_container" style="top:30%">
    <div class="container">
				<div class="row">
					<div class="col-sm">
						<div class="home_content">
                            <div class="home_title">Patient Login</div>
							<form method="POST" action="">
                                {% csrf_token %}
                                <div class="home_text">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="pat_id" aria-describedby="emailHelp" placeholder="Enter Patient ID" required="required">
                                    </div>
                                    <button type="submit" class="button home_button">Search</button>
                                </div>
                            </form>
						</div>
					</div>
				</div>
                <div class="home_text">
                    <div class="row">
                        <div class="col-sm-3" style="margin-top: 45px">
                            <span>Login Fast</span>
                        </div>
                        <div class="col-sm-3">
                            <a href="{% url 'doctor:QRCodeScanView' %}">
                                <button type="button" class="button home_button">Scan Id</button>
                            </a>

                        </div>
                    </div>
                </div>
			</div>
</div>
{% endblock home_content %}
